Cython==0.29.2
cytoolz==0.9.0.1
cyvlfeat==0.4.6+12.gce232d2
h5py==2.7.1
imageio==2.3.0
imagesize==1.0.0
matplotlib==2.2.2
numpy==1.14.3
Pillow==5.1.0
protobuf==2.6.1
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
torch==0.4.1.post2
torchvision==0.2.1
tqdm==4.28.1
keras==2.2.4
tensorflow==1.12.0
cPickle==1.71
cv2==3.4.2
scipy==1.1.0
theano==1.0.3
